:root {
    --light-color: #f5f5f5;
    --dark-color: #0B0016;
    --white-color: white;
    --blue-color: #0243E7;

    --background-color: var(--light-color);
    --text-color: var(--dark-color);
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Dark Theme */

.dark-theme {
    --background-color: var(--dark-color);
    --text-color: var(--white-color);
}

.dark-theme .logo {
    background-image: url('icons/logo-dark.svg');
}

.dark-theme .right-container {
    background: url('images/background-dark.webp') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* Containers */

.main-container {
    display: flex;
    width: 95%;
    height: 90vh;
    max-width: 1440px;
}

.left-container {
    width: 40%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--text-color);
    background-color: var(--background-color);
}

.right-container {
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    background: url('images/background.webp') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--light-color);
}

/* Text */

h1 {
    font-weight: 800;
    font-size: 45px;
}

h2 {
    font-size: 20px;
    padding: 5px;
}

p {
    font-size: 16px;
    line-height: 30px;
}

span {
    font-weight: 600;
}

/* Hover */

.lang-dropdown li:hover, .nationality-dropdown li:hover, .nationality-btn:hover, .lang-btn:hover, .gender-card:hover, .nickname-box:hover, .generate-btn:hover { 
    border-radius: 10px;
    transform: scale(1.005);
    opacity: 0.95;
}

.nationality-dropdown li:hover, .lang-dropdown li:hover {
    background-color: var(--light-color);
    font-weight: 600;
}

/* Navigation menu */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#theme-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#theme-button img {
    width: 24px;
    height: 24px;
}

#theme-button:hover {
    transform: scale(1.1);
}

#theme-button:hover img {
    opacity: 0.8;
    transform: rotate(15deg);
}

.logo {
    width: 100px;
    height: 35px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('icons/logo-light.svg');
}

.nav, .nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
}

.nav-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--dark-color);
    cursor: pointer;
}

/* Information Section */

.information {
    text-align: center;
    text-transform: uppercase;
}

/* Language & Nationality selection */

.lang-selector, .nationality-selector { 
    position: relative;
}

.nationality-selector.active .nationality-dropdown, .lang-selector.active .lang-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.lang-dropdown, .nationality-dropdown {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    list-style: none;
    padding: 5px 0;
    z-index: 1000;
    margin: 5px 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    background: var(--white-color);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.lang-btn, .nationality-btn {
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
    background: var(--white-color);
    color: var(--dark-color);
}

.lang-dropdown li, .nationality-dropdown li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--dark-color);
    background-color: var(--white-color);
}

/* Language selection */

.lang-btn {
    font-size: 16px;
    font-weight: 700;
    gap: 8px;
    border: 2px solid var(--dark-color);
}

.lang-dropdown {
    top: 100%;
    left: 0;
    flex-direction: column;
}

/* Nationality selection */

.nationality-btn {
    border: 2px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    justify-content: space-between;
    outline: none;
    appearance: none;
}

.selected-nationality {
    font-weight: 600;
}

.nationality-dropdown {
    max-height: 100px; 
    overflow-y: auto;
}

.nationality-dropdown li {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.generator-container {
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

/* Nickname box */

.nickname-box {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background: var(--white-color);
}

.nickname-box .icon {
    left: 15px;
}

.nickname-box input {
    flex-grow: 1;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background: none;
    outline: none;
    padding-left: 10px;
}

/* Gender selection */

.gender-selection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

.gender-card {
    display: inline-block;
    width: 200px;
    height: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.male {
    background-image: url('icons/male-icon.svg');
}

.female {
    background-image: url('icons/female-icon.svg');
}

.gender-input:checked + .gender-card::after {
    content: "✔";
    font-size: 8px;
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    box-shadow: 0 0 5px var(--blue-color);
    background: var(--blue-color);
}

/* Generate btn */

.generate-btn {
    width: 50%;
    max-width: 550px;
    border-radius: 5px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 700;
    background: var(--white-color);
    color: var(--dark-color);
}

/* Copyright */

.copyright {
    font-size: 10px;
    margin-top: 30px;
    position: relative;
}

.copyright a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

/* For mobile devices */

@media (max-width: 1024px) {
    body {
        padding: 0 20px;
        margin: 0;
        height: auto;
        display: block;
    }

    .dark-theme .nav {
        opacity: 0.95;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .dark-theme .nav-toggle {
        color: var(--light-color); 
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 95px;
        left: 0;
        opacity: 0.85;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
        background-color: var(--background-color);
        color: var(--text-color);
    }
    
    .nav.active {
        transform: translateY(0);
        visibility: visible;
        opacity: 0.95;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav a {
        display: block;
        margin: 10px 0;
    }

    .nav-toggle {
        display: block;
        color: var(--dark-color);
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    .left-container, .right-container {
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
    }

    .right-container {
        margin-top: 20px;
        border-radius: 20px;
        background-attachment: scroll;
    }

    .gender-selection {
        flex-direction: column;
    }

    .gender-card {
        width: 100%;
        height: 80px;
    }

    .male {
        background-image: url('icons/male-icon-mobile.svg');
    }

    .female {
        background-image: url('icons/female-icon-mobile.svg');
    }
}