:root {
    --light-color: #f5f5f5;
    --dark-color: #0B0016;
    --white-color: white;
    --blue-color: #0243E7;

    --background-color: var(--light-color);
    --text-color: var(--dark-color);
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Dark Theme */
.dark-theme {
    --background-color: var(--dark-color);
    --text-color: var(--white-color);
}

.dark-theme .logo {
    background-image: url('icons/logo-dark.svg');
}

.dark-theme .right-container {
    background: url('images/background-dark.webp') no-repeat center;
    background-size: cover;
}

/* Typography */
h1 {
    font-weight: 800;
    font-size: 45px;
}

h2 {
    font-size: 20px;
    padding: 5px;
}

p {
    font-size: 16px;
    line-height: 30px;
}

span {
    font-weight: 600;
}

a:hover {
    transform: scale(1.02);
    opacity: 0.7;
}

/* Layout Containers */
.main-container {
    display: flex;
    width: 95%;
    max-width: 1440px;
    overflow: hidden;
}

.left-container {
    width: 40%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color);
    color: var(--text-color);
}

.right-container {
    width: 60%;
    min-height: 650px;
    max-height: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    color: var(--light-color);
    background: url('images/background.webp') no-repeat center;
    background-size: cover;
    background-attachment: scroll;
}

/* Shared transitions */
button, .nav a, .lang-btn, .nationality-btn, .nickname-box, .generate-btn, .gender-card, .nationality-dropdown li, .lang-dropdown li, #theme-button {
    transition: background-color 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease, border-radius 0.5s ease;
}

/* Shared hover */
.lang-dropdown li:hover,
.nationality-dropdown li:hover,
.nationality-btn:hover,
.lang-btn:hover,
.gender-card:hover,
.nickname-box:hover,
.generate-btn:hover {
    background-color: #f2f2f2;
    transform: scale(1.02);
    font-weight: 600;
    border-radius: 10px;
    box-shadow: var(--white-color) 0px 0px 5px 0px;
}

/* Header & Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 100px;
    height: 35px;
    display: block;
    background-image: url('icons/logo-light.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#theme-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#theme-button img {
    width: 24px;
    height: 24px;
}

#theme-button:hover {
    transform: scale(1.1);
}

#theme-button:hover img {
    opacity: 0.8;
    transform: rotate(15deg);
}

.nav, .nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
}

.nav-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: var(--dark-color);
    cursor: pointer;
}

/* Info Section */
.information {
    text-align: center;
    text-transform: uppercase;
}

/* Language & Nationality */
.lang-selector,
.nationality-selector {
    position: relative;
}

.lang-dropdown,
.nationality-dropdown {
    position: absolute;
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    list-style: none;
    border-radius: 5px;
    background: var(--white-color);
    display: none;
    visibility: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    opacity: 0;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.lang-dropdown li,
.nationality-dropdown li {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--dark-color);
}

.nationality-dropdown {
    max-height: 100px;
    overflow-y: auto;
}

.nationality-dropdown li {
    font-size: 12px;
    text-align: left;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}

.nationality-selector.active .nationality-dropdown,
.lang-selector.active .lang-dropdown {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.lang-btn,
.nationality-btn {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--white-color);
    color: var(--dark-color);
}

.lang-btn {
    font-size: 16px;
    font-weight: 700;
    gap: 8px;
    border: 2px solid var(--dark-color);
}

.nationality-btn {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    justify-content: space-between;
    border: 2px;
    appearance: none;
    outline: none;
}

.selected-nationality {
    font-weight: 600;
}

.lang-dropdown {
    top: 100%;
    left: 0;
    flex-direction: column;
}

/* Nickname Box */
.nickname-box {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--white-color);
    border-radius: 5px;
}

.nickname-box .icon {
    left: 15px;
}

.nickname-box input {
    flex-grow: 1;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background: none;
    outline: none;
    padding-left: 10px;
}

/* Gender */
.gender-selection {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gender-card {
    width: 200px;
    height: 135px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.male {
    background-image: url('icons/male-icon.svg');
}

.female {
    background-image: url('icons/female-icon.svg');
}

.gender-input:checked + .gender-card::after {
    content: "✔";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-weight: 700;
    border-radius: 5px;
    color: inherit;
    background: var(--blue-color);
    box-shadow: 0 0 5px var(--blue-color);
}

/* Generate Button */
.generate-btn {
    width: 50%;
    max-width: 400px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    background: var(--white-color);
    color: var(--dark-color);
}

/* Generator Wrapper */
.generator-container {
    width: 100%;
    max-width: 500px;
    margin: 20px;
}

/* Footer */
.copyright {
    font-size: 10px;
    margin-top: 30px;
    position: relative;
}

.copyright:hover {
    opacity: 0.8;
}

.copyright a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

/* Mobile Styles */
@media (max-width: 1280px) {
    body {
        padding: 0 20px;
        margin: 0;
        height: auto;
        display: block;
    }

    .nav {
        flex-direction: column;
        position: absolute;
        top: 95px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        background-color: var(--background-color);
        color: var(--text-color);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav.active {
        transform: translateY(0);
        visibility: visible;
        opacity: 0.95;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav a {
        display: block;
        margin: 10px 0;
    }

    .nav-toggle {
        display: block;
        color: var(--dark-color);
    }

    .main-container {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        padding: 20px 0;
    }

    .left-container,
    .right-container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .right-container {
        margin-top: 20px;
        border-radius: 20px;
        background-attachment: scroll;
    }

    .gender-selection {
        flex-direction: column;
        gap: 10px;
    }

    .gender-card {
        width: 100%;
        height: 80px;
        margin-bottom: 0;
    }

    .gender-card:hover {
        transform: none !important;
        box-shadow: none !important;
        background-color: initial !important;
    }

    .male {
        background-image: url('icons/male-icon-mobile.svg');
    }

    .female {
        background-image: url('icons/female-icon-mobile.svg');
    }

    .dark-theme .nav {
        background-color: var(--background-color);
        color: var(--text-color);
        opacity: 0.95;
    }

    .dark-theme .nav-toggle {
        color: var(--light-color);
    }
}